{% load static %}
{% load loft_tags %}
<nav class="nav">
    <div class="container _nav">
        <div class="nav__content">
            <div class="nav__content-bars">
                <h2 class="nav__title">Меню</h2>
                <a href="#!" class="nav__bars-exit">
                    <img src="{% static 'loft/assets/icons/exit.svg' %}" alt="exit">
                </a>
            </div>
            <ul class="nav__list">
                <li>
                    <a href="{% url 'main' %}" class="nav__list-links">
                        <img src="{% static 'loft/assets/icons/home.svg' %}" alt="home">
                        Главная
                    </a>
                </li>
                <li>
                    <a href="{% url 'about' %}" class="nav__list-links">
                        <img src="{% static 'loft/assets/icons/aboute.svg' %}" alt="aboute">
                        О нас
                    </a>
                </li>
                <li>
                    <a href="{% url 'offer' %}" class="nav__list-links">
                        <img src="{% static 'loft/assets/icons/contacts.svg' %}" alt="contacts">
                        Контакты
                    </a>
                </li>
            </ul>
            <!-- /.nav__list -->

            {% for message in messages %}
            <div class="alert {{ message.tags }}" id="message" role="alert">
                {{ message }}
            </div>
            {% endfor %}

            <ul class="nav__contacts">
                <li>
                    <a href="tel:89648999119" class="nav__contacts-links">
                        <i class="far fa-phone-alt"></i>
                        8 (964) 89 99 119
                    </a>
                </li>
                <li>
                    <a href="#" class="nav__contacts-links">
                        <i class="far fa-truck"></i>
                        Доставка
                    </a>
                </li>
            </ul>
            <!-- /.nav__contacts -->

        </div>
        <!-- /.nav__content -->
    </div>
    <!-- /.container -->
    <ul class="nav__list _categories">
        <li>
            <h2 class="nav__title nav__title-categories">Категории</h2>
        </li>
        {% get_categories as categories %}
        {% for category in categories %}
        <li>
            <a href="#!" class="nav__list-links">
                <img src="{{ category.get_icon }}" alt="icons">{{ category.title }}
            </a>
        </li>
        {% endfor %}

        <li>
            <a href="#!" class="nav__list-links">
                <img src="{% static 'loft/assets/icons/nav_menu/Vector.svg' %}" alt="icons">
                Акция
            </a>
        </li>

    </ul>
    <!-- /.nav__catigories -->
</nav>