{% extends 'base.html' %}


{% block title %}
{{ title }}
{% endblock title %}


{% block slider %}

{% endblock slider %}


{% block main %}

<main class="main">
            <div class="registeration">
                <div class="container">
                    <div class="registeration__content">
                        <form class="registeration__form active" method="post">
                            {% csrf_token %}
                            <h2 class="registeration__title products__title">{{ title }}</h2>
                            <div class="registeration__form-grid">

                                <div class="input__title">
                                    <h2>Логин</h2>
                                    {{ form.username }}
                                </div>
                                <div class="input__title">
                                    <h2>Пароль</h2>
                                    {{ form.password }}
                                </div>

                            </div>

                            <div class="registeration__btns">
                                <a href="{% url 'register' %}" class="btn registeration__btn" style="width: 100%;">Регистрация</a>
                            </div>

                            <button class="btn registeration__btn-login _revers" type="submit">Войти</button>

                        </form>


                    </div>
                </div>
            </div>
        </main>

{% endblock main %}